<!-- Titre -->


<div class="block">
    <center>
        <h1 class="title"> Le combat contre <%= monstre.name %> à commencé</h1> <br />
    </center>
</div>
<center><label for="text"> Experience = <%= personnage.xp %> </label></center>
<progress class="progress" value="<%= personnage.xpPercent %>" max="100" style="color:white;">Experience
</progress>

<!-- Description -->
<div class="block">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="block">
                    <center><label for="text"> Points de vie = <%= personnage.vie %></label></center>
                    <progress class="progress is-danger" value="<%= personnage.vie %>" max="1000"> Point de vie
                    </progress>
                    <center><label for="text"> Points de mana = <%= personnage.mana %></label></center>
                    <progress class="progress is-small is-success" value="<%= personnage.mana %>" max="100"> Point de
                        mana </progress>
                    <center><label for="text"> Points de vigueure = <%= personnage.vigueur %></label></center>
                    <progress class="progress is-small is-warning" value="<%= personnage.vigueur %>" max="100"> Point de
                        vigeur
                    </progress>
                </div>
            </div>

            <div class="column">
                <div class="block">
                    <center><label for="text"> vie = <%= monstre.vie %>/1000</label></center>
                    <progress class="progress is-danger" value="<%= monstre.vie %>" max="1000"> Point de vie </progress>
                </div>

            </div>



        </div>

    </div>
</div>

<!-- Images -->
<div class="block">
    <div class="container">
        <div class="columns">
            <div class="column">
                <center>
                    <h1 class="title"><%= personnage.pseudo %> </h1>
                    <figure class="image is-128x128">
                        <img src="<%= personnage.image %>">
                    </figure>
                </center>
            </div>
            <div class="column">
                <center>
                    <h1 class="title"> <%= monstre.name %> </h1>
                    <figure class="image is-128x128">
                        <img src="<%= monstre.image %>">
                    </figure>
                </center>
            </div>
        </div>

    </div>
</div>

<!-- Button attack -->
<div class="block">
    <center>
        <div class="buttons has-addons is-centered">
            <button class="button is-warning">Attack 1</button>
            <button class="button is-danger">Attack 2</button>
        </div>
</div>